<h2 style="color: white;" class="p-1 ms-3">{{data}}</h2>
<div class="container w-50 rounded text-center p-5 mt-5" style="background-color: rgba(0, 0, 0, 0.400);">
<h1 class="" style="color: white;">Sign In To Your Bank Account</h1>
<form action="">
<div class="p-3 mt-2">
    <input (change)="acnoChange($event)" class="form-control" id="accno" name="accountnumber" type="text" [placeholder]="inputpalceholder">
</div>
<div class="p-3 mt-2">
    <input (change)="pswrdChange($event)" class="form-control" id="pass" name="password" type="password" placeholder="Enter Password">
</div>
<div class="p-3 mt-2">
    <button class="btn btn-outline-light" type="button" (click)="login()" style="background-color: navy;">LOGIN</button>
</div>

</form>


</div>
