
<div class="container w-50 rounded text-center p-5 mt-5" style="background-color: rgba(0, 0, 0, 0.400);">
<h1 class="" style="color: white;">Sign Up To Your Bank Account</h1>
<form action="">
<div class="p-3 mt-2">
    <input class="form-control" id="unamid" name="usern1" type="text" placeholder="Enter Username">
</div>
<div class="p-3 mt-2">
    <input class="form-control" id="acid" name="acnum1" type="text" placeholder="Enter Account no.">
</div>
<div class="p-3 mt-2">
    <input class="form-control" id="psw1" name="paswrd1" type="password" placeholder="Enter Password">
</div>
<div class="p-3 mt-2">
    <button class="btn btn-outline-light" type="button" (click)="register()" style="background-color: navy;">REGISTER</button>
</div>

</form>


</div>

